Repository xetha-bot/sloshdb, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, documentation, dependabot.yml, labeler.yml, sloshdb.js, xandra, tsconfig.json, gitignore

feat(github): pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

refactor(xandra): move sloshdb src to xandra
  ecosystem.config.js
  xandra/data/.gitkeep
  xandra/package-lock.json
  xandra/package.json
  xandra/src/config.json
  xandra/src/dispatcher/dispatcher.ts
  xandra/src/dispatcher/hash.ts
  xandra/src/index.ts
  xandra/src/scripts/createUser.ts
  xandra/src/scripts/deleteUser.ts
  xandra/src/scripts/editUser.ts
  xandra/src/scripts/listUsers.ts
  xandra/src/scripts/update.ts
  xandra/src/utils/Logger.ts
  xandra/tsconfig.json
Labels: xandra

docs: base documentation
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/CRUD.md
  docs/Installation.md
  docs/README.md
  docs/SECURITY.md
  docs/Updating.md
Labels: documentation

feat(client): sloshdb.js client
  sloshdb.js/package-lock.json
  sloshdb.js/package.json
  sloshdb.js/src/index.ts
  sloshdb.js/tsconfig.json
Labels: sloshdb.js

build: lerna scripts
  lerna.json
  package-lock.json
  package.json
Labels: none

feat(gitignore): add package-lock.json to commits
  .gitignore
Labels: gitignore

fix(workspaces): mispelled sloshdb.js
  package.json
Labels: none

feat(gitignore): ignore log files
  .gitignore
Labels: gitignore

fix(xandra): scripts import config path
  xandra/src/scripts/update.ts
Labels: xandra

v0.2.0
  CHANGELOG.md
  lerna.json
  sloshdb.js/CHANGELOG.md
  sloshdb.js/package-lock.json
  sloshdb.js/package.json
  xandra/CHANGELOG.md
  xandra/package-lock.json
  xandra/package.json
Labels: documentation, sloshdb.js, xandra

build(scripts-build): should be prebuild instead of postbuild
  sloshdb.js/package.json
  xandra/package.json
Labels: sloshdb.js, xandra

v0.2.1
  CHANGELOG.md
  lerna.json
  sloshdb.js/CHANGELOG.md
  sloshdb.js/package-lock.json
  sloshdb.js/package.json
  xandra/CHANGELOG.md
  xandra/package-lock.json
  xandra/package.json
Labels: documentation, sloshdb.js, xandra

feat: MIT License
  LICENSE
  sloshdb.js/LICENSE
  xandra/LICENSE
Labels: sloshdb.js, xandra

feat(sloshdb.js): npmignore
  sloshdb.js/.npmignore
Labels: sloshdb.js

v0.3.0
  CHANGELOG.md
  lerna.json
  sloshdb.js/CHANGELOG.md
  sloshdb.js/package-lock.json
  sloshdb.js/package.json
  xandra/CHANGELOG.md
  xandra/package-lock.json
  xandra/package.json
Labels: documentation, sloshdb.js, xandra

fix(scripts): path
  xandra/package.json
Labels: xandra

v0.3.1
  CHANGELOG.md
  lerna.json
  xandra/CHANGELOG.md
  xandra/package-lock.json
  xandra/package.json
Labels: documentation, xandra

fix(update): should be `.text()` instead of `.json()`
  xandra/src/scripts/update.ts
Labels: xandra

v0.3.2
  CHANGELOG.md
  lerna.json
  xandra/CHANGELOG.md
  xandra/package-lock.json
  xandra/package.json
Labels: documentation, xandra

docs: missing `.md`
  docs/Installation.md
Labels: documentation

.github/labeler.yml:

workflows:
  - .github/workflows/**

documentation:
  - "*.md"
  - docs/**

dependabot.yml:
  - dependabot.yml

labeler.yml:
  - labeler.yml

sloshdb.js:
  - sloshdb.js/**

xandra:
  - xandra/**

tsconfig.json:
  - tsconfig.json

gitignore:
  - .gitignore
